font-family: 'Dancing Script', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Source Serif Pro', serif;
font-family: 'Courgette', cursive;
/* contact page styling*/

header {
    font-size: 50px;
    font-family:"Times New Roman";   
}



